<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.forum.dao.ArticleMapper">
<!--自定义结果映射集-->
    <resultMap   id="AllInfoResultMap" type="com.xzy.forum.model.Article"
    extends="ResultMapWithBLOBs">
        <association property="user" resultMap="com.xzy.forum.dao.UserMapper.BaseResultMap" columnPrefix="u_"/>

    </resultMap>

    <!-- 联表查询文章列表，包含作者昵称和版块名称 -->
    <select id="selectAll" resultMap="AllInfoResultMap">
        SELECT
             u.id AS u_id,
             u.nickname AS u_nickname,
             u.avatarUrl AS u_avatarUrl,
            a.id,
             a.boardId,
             a.userId,
             a.title,
             a.visitCount,
             a.replyCount,
             a.likeCount,
             a.state,
             a.createTime,
             a.updateTime
             from
             t_article a, t_user u
             where
             a.userId = u.id
             and a.deleteState = 0
             order by a.createTime desc
    </select>

    <!-- 联表查询文章列表，包含作者昵称和版块名称 -->
    <select id="selectAllByBoardId" resultMap="AllInfoResultMap" parameterType="java.lang.Long">
        SELECT
            u.id AS u_id,
            u.nickname AS u_nickname,
            u.avatarUrl AS u_avatarUrl,
            a.id,
            a.boardId,
            a.userId,
            a.title,
            a.visitCount,
            a.replyCount,
            a.likeCount,
            a.state,
            a.createTime,
            a.updateTime
        from
            t_article a, t_user u
        where
            a.userId = u.id
            and a.deleteState = 0
            and a.boardId = #{boardId}
        order by a.createTime desc
    </select>
</mapper>
